<!-- <div class="page-header">
  <div class="container">
    <h1>Router sample</h1>
    <div class="nav">
      <a [routerLink]="['/home']" class="nav-link">Home</a>
      <a [routerLink]="['/about']" class="nav-link">About Us</a>
      <a [routerLink]="['/contact']" class="nav-link">Contact Us</a>
      |
      <a [routerLink]="['/products']" class="nav-link">Products</a>
      <a [routerLink]="['/login']" class="nav-link">Login</a>
      <a [routerLink]="['/protected']" class="nav-link">Protected</a>
    </div>
  </div>
</div> -->


<div class="page-header">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Router sample</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a [routerLink]="['/home']" class="nav-item nav-link active" >Home <span class="sr-only">(current)</span></a>
          <a [routerLink]="['/about']" class="nav-item nav-link" >About Us</a>
          <a [routerLink]="['/contact']" class="nav-item nav-link" >Contact Us</a>
          |
          <a [routerLink]="['/products']" class="nav-item nav-link" >Products</a>
          <a [routerLink]="['/login']" class="nav-item nav-link" >Login</a>
          <a [routerLink]="['/protected']" class="nav-item nav-link" >Protected</a>
        </div>
      </div>
    </nav>
  </div>
</div>

<div id="content">
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>
